<nav class="p-6">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    </a>
    <div class="w-auto">
      <ul class="flex">
        <li>
          <div class="bg-green-600 rounded w-fit px-2 py-1 hover:bg-green">
          <a href="/signout" class="block px-4 text-white rounded">Sign out</a>
        </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
